#찌꺼기 파일
.DS_Store
Thumbs.db

#VIM swp
*.swp
*~
#Project파일
*.pro
*.vcxproj
*.filters
*.opensdf
*.sdf
*.user
*.sln
*.suo
*.pdb
debug/
release/
ipch/
*.xcodeproj/
info.plist

#object 파일
*.o
*.O

*.app/

#test 용 
src/test_code/thumnail/
